{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page_title }}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font for socials -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/menu.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/icon.png'  %}">
</head>
<body>
  <div>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class='menu-container'>
    <nav class='menu-navbar'>
      <div class='menu-hamburger'>
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a href="{% url 'home' %}" class="menu-nav-link">Home</a>
        </li>
        <li class="menu-nav-item">
          <a href="{% url 'list' %}" class="menu-nav-link">To-do</a>
        </li>
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">About</a>
        </li>
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="menu-navbar-right">
      {% if user.is_authenticated %}
        <img class="profile-menu" src="{{ user.profile.image.url }}" alt="">
      {% else %}
        <img class="profile-menu" src="{% static 'images/register.png' %}" alt="">
      {% endif %}
      <ul class="menu-nav-list-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}" class="menu-nav-link-right">{{ user.username }}</a></li>            
          <li><a href="{% url 'logout' %}" class="menu-nav-link-right">LogOut</a></li>
        {% else %}
          <li><a href="{% url 'register' %}" class="menu-nav-link-right">Register</a></li>
          <li><a href="{% url 'login' %}" class="menu-nav-link-right">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class='content-wrap'>
    {% block content %}
    {% endblock content %}
  </div> 
  <div class='dark-switch'>
    <label class='check-label'>
      <input type="checkbox" name="" id="dark-mode-button">
      <span class="check"></span>
      <span class="btn"></span>
    </label>
    <p class='dark-mode-text'>Dark Mode</p>
  </div>
  <footer class='navbar'>
    <div class='social_middle'>
      <span class='social-span'>
        <a class="social_btn" href="http://www.facebook.com" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="social_btn" href="http://www.twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="social_btn" href="http://www.google.com" target="_blank"> 
          <i class="fab fa-google"></i>
        </a>
        <a class="social_btn" href="http://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="social_btn" href="http://www.youtube.com" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </span>
      
    </div>
    
  </footer>
  <script src="{% static 'menu.js' %}"></script>
  <script src="{% static 'darkmode_tasks.js' %}"></script>
</body>
</html>