
{% extends 'tasks/base.html' %} 


{% block content %}
<h1> LIST PAGE </h1>
<form method="POST", action="#"> {% csrf_token %}
    {{ form.title }}
    <input type="submit", name="Create task">
</form>
    {% for task in tasks %}
    <div>
    <span>{{ forloop.counter }}. 
        {% if task.completed == True %}
        <s>{{ task }} </s>
        {% else %}
        {{ task }}
        {% endif %}
        
        <a href="/list/update_task/{{ task.id }}">Update</a> <a href="/list/delete_task/{{ task.id }}">Delete</a></span>
        </div>
    {% endfor %}
{% endblock content %}