
{% extends 'tasks/base.html' %} 


{% block content %}
<div class="new-task-column">
    <form method="POST", action="#"> {% csrf_token %}
        {{ form.title }}
        <input class="submit" type="submit", value="Create task">
    </form>
</div>

<div class="task-column">
{% for task in tasks %}

    <div class="item-row">
        <div class="task">{{ forloop.counter }}. 
            {% if task.completed == True %}
            <s>{{ task }} </s>
            {% else %}
            {{ task }}
            {% endif %}
        </div>
        <div class="del_upd_container">
            <div class="single-upd-container"><a class="edit_button" href="/list/update_task/{{ task.id }}">Update</a></div>
            <div class="single-del-container"><a class="edit_button" href="/list/delete_task/{{ task.id }}">Delete</a></div>
        </div>
        
    </div>

{% endfor %}
</div>
{% endblock content %}