@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");

body{
	background-color: #444;
	font-family: 'Raleway', sans-serif;
	align-items: center;
	position: relative;
  min-height: 100vh;
}

a{
	text-decoration: none;
	color: black
}

input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input::placeholder {
	color: #d3d3d3;
}

.submit{
	background-color: #6BA3E8;
	margin-top: 10px;
	width: auto;
	border: 2px solid #3498db;
	border-radius: 24px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	padding: 12px 20px;
	cursor: pointer;
	transition: 0.5s;
}

.submit:hover{
	background-color: rgb(139, 180, 230);
	transition: 0.5s;
}


.new-task-column{
	width:30vw;
	margin: 20px auto;
	padding:20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.item-row{
	color: black;
	background-color: #7ce8fc;
	margin: 10px;
	padding: 20px;
	border-radius: 24px;
	color: #fff;
	font-size: 16px;
	box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	max-width: 90%;
}

.content-wrap {
  padding-bottom: 3.5rem;
}

.task{
	color: black;
	width: 100%;
	text-overflow: ellipsis;
	display: flex;
	align-items : center ;
	justify-content : center;
	overflow: auto;
}

.new_task_text{
	margin: 0 auto;
	background: #444;
	border: 2px solid #3498db;
	border-radius: 24px;
	width: 10vw;
	display: block;
	text-align: inherit;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.new_task_text:focus{
	background:#ccc;
	width: 100%;
	border-color:  #1a4e70;
}

.new_task_text:focus::placeholder{
	color: transparent;
}

.del_upd_container{
	width: 120px;
	display: block;
	align-items: center;
	justify-content: center;
	margin-right: -10px;
}

.single-del-container{
	width: 70px;
	display: block;
	margin-top: 16px;
}

.single-upd-container{
	width: 70px;
	display: block;
	margin-bottom: 16px;
}

.edit_button{
	background-color: #6BA3E8;
	margin-top: 20px;
	width: 5vw;
	border: 2px solid #3498db;
	border-radius: 24px;
	font-family: 'Raleway', sans-serif;
	padding: 5px;
	transition: 0.5s;
}

.delete-submit{
	background-color: #6BA3E8;
	margin: 10px;
	width: auto;
	border: 2px solid #3498db;
	border-radius: 24px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	padding: 12px 20px;
	cursor: pointer;
	transition: 0.5s;

}

.delete-submit:hover{
	background-color: rgb(139, 180, 230);
	transition: 0.5s;
}

.edit_button:hover{
	background-color: rgb(139, 180, 230);
	transition: 0.5s;
}

.task-column{
	width:30vw;
	margin: 20px auto;
	padding:20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	align-items: center;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.update-task-layout{
	display: inline-block;

}

.register-container{
	display: block;
	align-items: center;
	justify-content: center;
	overflow: visible;
}

.register-text-input{
	width: 80%;
	display: block;
	margin: 8px auto;
}


.register-password-input{
	width: 80%;
	display: block;
	margin: 8px auto;
}

#password-help{
  font-size: 12px;
  margin-top: 10px;
  padding: 5px;
	text-transform: uppercase;
	list-style-type: none;
}

header.navbar{
	display: flex;
	vertical-align: middle;
	padding: 10px 2%;
	background-color: #F9DEC9;
	justify-content: flex-start;
}

footer.navbar{
	display: flex;
	vertical-align: middle;
	padding: 38px 2%;
	background-color: rgba(161, 155, 150, 0.2);
	justify-content: center;
	margin-top: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.3rem; 
}

.nav-links{
	list-style-type: none;
	vertical-align: middle;
	margin-bottom: 0;
	padding-left: 40px;
}

.nav-links li{
	display: inline-block;
	padding: 0 20px;
}

.nav-links li:nth-child(1){
	padding: 0 20px 0 0;
}

.nav-links li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-links li a:hover{
	opacity: 80%;
}

.logo{
	cursor: pointer;
	order: 0;
}

.login_section{
	display: inline-block;
	order: 3;
	margin-bottom: 0;
	list-style-type: none;
	margin-left: auto;
}

.sites_section{
	display: inline-block;
	order: 2;
}

.pass_tooltip {
  position: relative;
  display: block;
	overflow: visible;
	text-align: center;
}

.pass_tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
	padding: 5px 0;
	position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -200px;
}

.pass_tooltip .tooltiptext ul{
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0;
}

.pass_tooltip:hover .tooltiptext {
	visibility: visible;
}

.profile-picture {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.small-picture{
	width: 75px;
	height: 75px;
	border-radius: 50%;
  object-fit: cover;
}

.content-section {
	width:30vw;
	margin: 20px auto;
	padding:20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.social_btn{
	display: inline-block;
	background: #f1f1f1;
	min-width: 46px;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;
}

.social_btn i{
	/* line-height: 90px; */
	font-size: 26px;
	transition: 0.2s linear;
	margin: 10px;
}

.social_btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1
}

.social_btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.social_btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.social_middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.main-page-content{
	width:60vw;
	margin: 20px auto;
	padding:20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.personal-info-block{
	display: flex;
	padding: 10px;
	padding-bottom: 15px;
	/* border-bottom: solid rgba(0,0,0,0.35); */
	align-items: center;
	/* margin-bottom: 10px; */
}

.personal-info-text{
	flex-wrap: wrap;
	flex-grow: 2;
}

.personal-info-photo{
	float: inline-end;
	padding: 0 10px;
}

.projects-block{
	display: flex;
	padding: 10px;
	padding-bottom: 15px;
	flex-wrap: wrap;
}

.projects-project{
	justify-content: center;
	display: inherit;
	box-shadow: 4px 2px 15px 0px rgba(0,0,0,0.75);
	margin: 20px 0;
	flex-wrap: wrap;
}

.projects-description{
	flex-grow: 2;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px 20px;

}

.projects-thumbnail-block{
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 10px;
}

.projects-thumbnail-image{
	width: 100%;
	/* height: 100%; */
	box-shadow: 4px 2px 15px 0px rgba(0,0,0,0.75);
	min-width: 200px;
	/* min-height: 120px; */
}

.projects-main-title{
	align-items: center;
	padding: 20px;
	/* border-bottom: solid rgba(0,0,0,0.35); */
	background-image: radial-gradient(600px, rgba(0,0,0,0.45), rgba(0,0,0,0.15));
}

.projects-title{
	align-items: center;
	padding: 10px;
	display: inline-block;
}

.projects-content{
	display: inherit;
}

@media (max-width: 600px){
	.new-task-column{
		width: 70vw;
	}

	.task-column{
		width: 70vw;
	}

	.logo{
		width: 20vw;
	}
}